     body {
      font-family: 'Times New Roman', Times, serif;
      background-color: black;
      color: var(--text-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      height: 100vh;
      animation: fadeIn 1s ease;
      transition: 0.5s ease;
      position: relative;
        overflow: hidden;
    }

   
    a {
      text-decoration: none;
    }

    a.button {
      padding: 16px 22px;
      font-size: 0px;
      background-color: rgb(0, 255, 0);
      color: rgb(0, 0, 0);
      border-radius: 15px;
      display: inline-block;
      margin-bottom: 40px;
    }

    a.button:hover {
      box-shadow: 0 0 52px rgb(0, 0, 0);
      transition: 0.3s ease;
    }

  .menu-button {
  width: 130px;
  position: absolute;
  background-color:rgb(60, 255, 0);
  top: 20px;
  left: 20px;
  font-size: 36px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 6px;
}

.menu-button:hover {
  transform: scale(1.05);
  background: rgb(151, 151, 151);
  color:rgb(60, 255, 0);
}
#sidebarMenu {
  padding-bottom: 0px;
  position: fixed;
  top: 80px;
  left:15px;
  width: 300px; 
  max-height: 60vh; 
  background-color: rgba(49, 45, 45, 0.9);
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px 10px ;
  transition: transform 0.3s ease, opacity 0.3s ease;
  flex-direction:column-reverse;
  transform: translateY(100%);
  opacity: 0;
}

#sidebarMenu.show {
  transform: translateY(0);
  opacity: 1;
}


#sidebarMenu a {
  background: linear-gradient(45deg,rgb(72, 255, 0), rgb(56, 88, 56));
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
  font-family: 'Times New Roman', Times, serif;
}

#sidebarMenu a:hover {
  border-color: rgb(43, 255, 0);
  transform: scale(1.05);
}
p{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
}
z{
  top: 0%;
    font-family: "Castellar";
    font-size: 190px;
    color: rgb(0, 255, 0);
}
.ADMIN {
  width: 130px;
  position: absolute;
  background-color:rgb(0, 255, 21);
  top: 20px;
  left: 90%;
  font-size: 36px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 6px;
}